html {
  height: 100%;
}

body {
  background: url('../imgs/coding.jpg');
  background-size: cover;
  background-position: center;
  font-family: Lato;
  text-transform: uppercase;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

hr {
  width: 300px;
}
