html {
  height: 100%;
}

body {
  height: 100%;
  background: url('../imgs/coding_b&w.jpg');
  background-size: cover;
  background-position: center;
  font-family: Lato;
  text-transform: uppercase;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

hr {
  width: 300px;
}

#contact-footer {
  padding: 3%;
  width: 100%;
  /* these two can keep the footer at bottom */
  position: absolute;
  bottom: 0;
  background-color: #222;
}
